# Rust build artifacts
/target/

# Rust/Cargo temporary files
**/*.rs.bk

# Kernel module build artifacts
/driver/*.o
/driver/*.ko
/driver/*.mod
/driver/*.mod.c
/driver/*.mod.o
/driver/*.symvers
/driver/Module.symvers
/driver/modules.order
/driver/.*.cmd
/driver/.tmp_versions/
